<section class="text-white py-5 min-vh-100">
    <!-- <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12">
                <h1 class="pb-3">Moving forward</h1>
            </div>
            <div class="col-md-4">
                <span id="count1" class="display-4"></span>
            </div>
            <div class="col-md-4">
                <span id="count2" class="display-4"></span>
            </div>
            <div class="col-md-4">
                <span id="count3" class="display-4"></span>
            </div>
        </div>
    </div> -->
    <figure class="text-center">
        <blockquote class="blockquote">
            <p  pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">Moving forward</p>
        </blockquote>
        <figcaption class="blockquote-footer" pAnimateOnScroll  enterClass="zoomin" leaveClass="fadeout">
            Strengthening international cooperation, building
            national capacity, and addressing AI in the world of work
        </figcaption>
    </figure>
    <div class="row">
        <p pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout" class="animation-duration-2000 animation-ease-in-out">
            Concerted policy action is needed at the national and international level to ensure that the present
            AI divide between countries narrows, so that the global majority can seize the benefits of the new
            technology and contribute to expanding the AI opportunity while mitigating any potential risks.
            Narrowing the divide is not a straightforward endeavour. It requires policies at the international and
            national level, with special attention to integration of AI into the world of work. As the analysis in this
            report has shown, advances in technology put at risk jobs in sectors such as call centres and other
            types of business process outsourcing that are prevalent in some developing countries. In addition,
            the potential for productivity gains in the workplace risks not being realized if basic impediments –
            such as the lack of access to computers at work and foundational digital skills – are not addressed.
            Similarly, attention needs to be given to how technology is integrated into the workplace to ensure
            that it augments human labour as opposed to limiting workers’ scope for agency or creativity in their
            work. The objective is to harness the technology to improve productivity and working conditions, in
            support of social justice.
            Building AI capacity through international cooperation is essential for equitably distributing the
            benefits of this transformative technology. By pooling expertise, targeting sensitive areas, and
            fostering public-private collaboration, countries can enhance their AI readiness, mitigate risks, and
            unlock the potential of AI for sustainable economic and social progress. International organizations
            play a critical role in facilitating this collaborative effort, serving as platforms for coordination,
            knowledge-sharing, and the development of global frameworks for responsible AI development and
            deployment.
            Proactive capacity-building efforts and policies are needed to ensure that the benefits of AI are
            distributed equitably and that countries are prepared to navigate the challenges posed by this
            transformative technology. By investing in AI capacity building, countries can foster innovation,
            boost productivity, and enhance their competitiveness in the global economy, while also mitigating
            potential negative impacts on employment, privacy, and security.
            Policymakers should navigate these complexities and tailor their strategies to address the specific
            challenges and opportunities presented by AI. Based on empirical data and leveraging social
            dialogue, they must set the strategic direction to ensure that labour markets, and the broader social
            contract can adapt to and keep pace with rapid technological advancements.
            We propose three policy pillars to advance these objectives: strengthened international cooperation,
            building national capacity and addressing AI in the world of work.
        </p>
        <div class="container" data-aos="fade-up">
            <h1 class="display-5">Strengthened international cooperation on AI</h1>

            <ul class="list-group list-group-flush list-group-numbered">
                <li class="list-group-item"><strong>Global network of knowledge sharing: </strong>
                    <p class="animation-duration-2000 animation-ease-in-out" pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">
                        Establish a global network for knowledge exchange to
                        disseminate AI research and innovations. This network would ensure that all nations benefit
                        from the latest advancements, bridging the gap between developed and developing countries by
                        providing equal access to critical AI knowledge.
                    </p>
                </li>
                <li class="list-group-item"><strong>Unified methodology for assessing AI’s impact on skills and
                        occupations:</strong>
                    <p class="animation-duration-2000 animation-ease-in-out"  pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">
                        work towards a unified
                        methodology, inspired by frameworks such as the United States’ O*NET12 or others extensively
                        used by researchers. This methodology should focus on standardizing the evaluation of how
                        AI technologies reshape job roles and skills across the globe, allowing these insights to inform
                        policies and training programs that ensure workforce readiness.
                    </p>
                </li>






                <li class="list-group-item"><strong>Joint training initiatives:</strong>
                    <p class="animation-duration-2000 animation-ease-in-out"  pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">Create international training programs that leverage expertise from
                        around the world. These initiatives could standardize AI skills and promote a uniformly skilled
                        global workforce. By incorporating diverse perspectives, these programs could enhance the
                        quality of AI education and training globally. </p>
                </li>
                <li class="list-group-item"><strong>Multi-nation R&D partnerships:</strong>
                    <p class="animation-duration-2000 animation-ease-in-out"  pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">
                        Encourage partnerships in research and development to combine
                        resources, share risks, and enhance the scope of AI innovations. Multi-nation R&D collaborations
                        can lead to significant advancements in AI technologies, benefiting all participating countries
                        and
                        driving global progress in the field. </p>
                </li>
                <li class="list-group-item"><strong>Equitable AI resource and infrastructure allocation:</strong>
                    <p class="animation-duration-2000 animation-ease-in-out"  pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">
                        Work towards the equitable distribution
                        of AI resources and infrastructures. Ensure that opportunities for AI education and training are
                        accessible to all nations, particularly developing ones. This will prevent any country from
                        being
                        left behind in the AI revolution and promote the global sharing of AI benefits. </p>
                </li>

            </ul>

        </div>




        <div class="container">
            <h1 class="display-5">Building national AI capacity</h1>

            <ul class="list-group list-group-flush list-group-numbered">
                <li class="list-group-item"><strong>Establish robust educational, skills and lifelong learning
                        frameworks to build a skilled AI
                        workforce: </strong>
                    <p class="animation-duration-2000 animation-ease-in-out"  pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">
                        Integrate AI and data science courses into existing educational curriculums, while
                        also strengthening foundational skills. Partner with universities and international
                        organizations to
                        help build educational and training capacity. Support community-driven AI learning initiatives,
                        to
                        encourage local talent and grassroots innovation </p>
                </li>
                <li class="list-group-item"><strong>Invest in digital infrastructure and ensure equitable access to AI
                        resources and tools:</strong>
                    <p class="animation-duration-2000 animation-ease-in-out" pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">
                        Starting
                        with meaningful connectivity and strategic investments in data centers and cloud computing
                        facilities to provide the necessary infrastructure for AI development and deployment. Promote
                        open data policies to make public sector data available for research and development in AI,
                        while ensuring privacy and safety. Engage in international collaborations to share resources
                        and infrastructure, such as access to high-performance computing facilities and international
                        research networks </p>
                </li>






                <li class="list-group-item"><strong>Develop and implement comprehensive policies and regulations that
                        support human-centric AI
                        development and use, including in the workplace:</strong>
                    <p class="animation-duration-2000 animation-ease-in-out"  pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">Formulate a national AI strategy that outlines
                        the vision, goals, and action plans for AI development. This should include safety standards
                        and considerations for sustainable AI practices, in line with human rights and sustainable
                        development goals, as well as respect for fundamental principles and rights at work. These
                        strategies should combine and leverage social dialogue, data protection and privacy laws that
                        safeguard workers’ rights, and emerging commitments to promote safety and trust in AI systems.
                        They should include measures to promote public awareness about AI, its benefits, and potential
                        risks. </p>
                </li>


            </ul>

        </div>




        <div class="container">
            <h1 class="display-5">Towards a positive integration of AI in the world of work</h1>

            <ul class="list-group list-group-flush list-group-numbered">
                <li class="list-group-item"><strong>Ensure decent working conditions along the AI value chain: </strong>
                    <p class="animation-duration-2000 animation-ease-in-out" pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">
                        Data curation and annotation are a
                        critical component of the AI value chain, in addition to being an important source of employment
                        for developing countries. Ensuring decent work for workers in this segment of the value chain,
                        with adequate pay and quality working conditions, would help to spread the benefits of AI more
                        evenly. </p>
                </li>
                <li class="list-group-item"><strong>Prioritize redeployment and ensure support to workers at risk of
                        technological redundancy::</strong>
                    <p class="animation-duration-2000 animation-ease-in-out" pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">For workers at risk of redundancy due to AI, prioritize their redeployment and training within
                        an organization over job loss. Where possible, engage with workers’ representatives to avert
                        or minimize terminations. In cases of displacement, ensure coverage of social protection and
                        access to retraining for affected workers. </p>
                </li>






                <li class="list-group-item"><strong>Address gender-specific needs in the transition process:</strong>
                    <p class="animation-duration-2000 animation-ease-in-out" pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">Account for the strongly gendered
                        dimension of the potential impact of generative AI on the current labour markets and design
                        policies that address gender-specific needs in the transition process, including by investing in
                        skills needed for growing AI occupations or for other societal needs, such as in the care or
                        green
                        economy </p>
                </li>

                <li class="list-group-item"><strong>Promote social dialogue on the integration of AI in the workplace
                        and in the regulation of its
                        use at the workplace:</strong>
                    <p class="animation-duration-2000 animation-ease-in-out" pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout">: Promote a positive integration of AI into the world of work by involving
                        workers in the design, implementation, and use of technology at the workplace by building and
                        strengthening mechanisms of workplace consultation and encourage social dialogue in the
                        regulation of AI’s use in the workplace. Prohibit worker monitoring and data collection in
                        contexts
                        where it poses risks to workers’ fundamental rights.
                    </p>
                </li>

            </ul>

        </div>
    </div>
</section>