<ul class="navLinks" data-aos='rubberBand'>
    <li class="active"><div class='wrapper'><a class="nav-link" href="#"><i class="fa fa-university fa-fw" style="font-size:20px;color:black;"></i>&nbsp;Home</a></div></li>
    <li><div class='wrapper'><a class="nav-link" href="#who_we_are"><i class="fa fa-address-card fa-fw" style="font-size:20px;color:black;"></i>&nbsp;Who We Are</a></div></li>
    <li><div class='wrapper'><a class="nav-link" href="#slideshow"><i class="fa fa-picture-o fa-fw" style="font-size:20px;color:black;"></i>&nbsp;Slide Show</a></div></li>
    <li><div class='wrapper'><a class="nav-link" href="#what_we_offer"><i class="fa fa-shopping-basket fa-fw" style="font-size:20px;color:black;"></i>&nbsp;What We Offer</a></div></li>
    <li><div class='wrapper'><a class="nav-link" href="#pricing_plans"><i class="fa fa-money fa-fw" style="font-size:20px;color:black;"></i>&nbsp;Pricing Plans</a></div></li>
    <li><div class='wrapper'><a class="nav-link" href="#animations_list" target="_self"><i class="fa fa-list-ul fa-fw" style="font-size:20px;color:black;"></i>&nbsp;Animations List</a></div></li>
  </ul>
  