<nav>
  <a href="" target="_blank">
    <!-- <svg class="w-9" viewBox="0 0 969 955" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="161.191" cy="320.191" r="133.191" stroke="currentColor" stroke-width="20"></circle>
      <circle cx="806.809" cy="320.191" r="133.191" stroke="currentColor" stroke-width="20"></circle>
      <circle cx="695.019" cy="587.733" r="31.4016" fill="currentColor"></circle>
      <circle cx="272.981" cy="587.733" r="31.4016" fill="currentColor"></circle>
      <path d="M564.388 712.083C564.388 743.994 526.035 779.911 483.372 779.911C440.709 779.911 402.356 743.994 402.356 712.083C402.356 680.173 440.709 664.353 483.372 664.353C526.035 664.353 564.388 680.173 564.388 712.083Z" fill="currentColor"></path>
      <rect x="310.42" y="448.31" width="343.468" height="51.4986" fill="#FF1E1E"></rect>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M745.643 288.24C815.368 344.185 854.539 432.623 854.539 511.741H614.938V454.652C614.938 433.113 597.477 415.652 575.938 415.652H388.37C366.831 415.652 349.37 433.113 349.37 454.652V511.741L110.949 511.741C110.949 432.623 150.12 344.185 219.845 288.24C289.57 232.295 384.138 200.865 482.744 200.865C581.35 200.865 675.918 232.295 745.643 288.24Z" fill="currentColor"></path>
    </svg> -->
  </a>
  <!-- <a href="https://twitter.com/intent/follow?screen_name=jh3yy">Follow 𝕏</a> -->
  <a href=""><img src="./../assets/images/UNSG_Envoy_Technology.png" width="300px" height="300px" class="img-fluid"
      alt=""></a>
</nav>
<main>
  <section>
    <div class="fixed">
      <!-- <img
        src="./../assets/images/amalkt_A_dynamic_web_of_dark_blue_points_interconnected_by_lumi_dd017aa2-43f6-4b27-b4c0-33a0c99f5aa3.png"
        alt=""> -->
      <div class="content">
        <h1>Mind the AI Divide</h1>
        <p>Shaping a Global Perspective on the Future of Work</p>
      </div>
    </div>
  </section>
  <section>
    <article>
      <div class="fixed">
        <!-- <img
          src="./../assets/images/amalkt_A_dynamic_web_of_black_points_interconnected_by_luminous_47a36345-afcd-40a2-811d-3830b62448a8.png"
          alt=""> -->
      </div>
      <div class="static">
        <div class="content">
          <div class="text-wrap">
            <div class="loud-wrap">
              <h2>Introduction.</h2>
              <div pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright" class="introduction animation-duration-3000 animation-ease-in-out">
                The rapid advancement of Artificial Intelligence (AI) promises widespread transformations for our
                societies, our economies and the world of work. While such advances offer tremendous opportunities for
                innovation and productivity, the uneven rates of investment, adoption and use among countries risks
                exacerbating the already wide disparities in income and quality of life. There is a pronounced “AI
                divide” emerging, where high income nations disproportionately benefit from AI advancements, while low-
                and medium-income countries, particularly Africa, lag behind. Worse, this divide will grow unless
                concerted action is taken to foster international cooperation in support of developing countries. The
                absence of such policies will not only widen global inequalities, but it risks squandering the potential
                of AI to serve as a catalyst for widespread social and economic progress.

              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div class="fixed"></div>
      <div class="static">
        <div class="content">
          <div class="introduction">
            Research on the possible effects of generative AI on employment across the world suggests that while there
            are likely to be important transformative effects on some occupations, the impact in terms of job loss is
            much less than the headline figures that appear regularly in media, and certainly does not point to a
            jobless future. According to an analysis undertaken by the International Labour Organization on the
            potential exposure of tasks to generative AI technology, clerical support workers are the most exposed
            occupational group with 24 per cent of the tasks in these jobs associated with high level of exposure to
            automation and another 58 per cent with medium-level exposure
          </div>
        </div>
      </div>
    </article>






    <article>
      <div class="fixed">
        <!-- <img
          src="./../assets/images/amalkt_A_dynamic_web_of_black_points_interconnected_by_luminous_47a36345-afcd-40a2-811d-3830b62448a8.png"
          alt=""> -->
      </div>
      <div class="static">
        <div class="content">
          <h2>The AI value chain and
            the demand for skills.</h2>
          <!-- <div class="chat-container">
            <div class="text-blocks">
              <p>Assist</p>
              <p>Transform and Optimize</p>
              <p>Augment and Hybridize</p>
              <p>Replace and Automate</p>
            </div>
          </div> -->
          <div class="introduction animation-duration-3000 animation-ease-in-out" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft" >
            Like the production of many goods and
            services in the global economy, AI has its own
            value chain. As depicted in Figure 6, there are
            different stages of the AI value chain, each with
            specific human and social infrastructure needs.
            As is typical in most global value chains, stages
            differ in the amount of value received for the
            contribution made, with lower-value added
            activities predominant in middle and lowincome countries and design and deployment
            associated with higher-income countries.
            Data is fundamental to the development and
            operation of AI systems. Human-prepared
            data is fed into AI systems to help them learn
            the necessary connections and patterns for
            functionality. The sources of this data are
            diverse, depending on the system’s purpose.
            Publicly available data, such as United Nations
            documents used for training translation
            programs, contributed to advances in natural
            language processing. Proprietary data is also
            crucial, particularly in workplace applications,
            like call center recordings used to train
            chatbots for customer service. With global
            connectivity, data collection continues to
            provide the essential raw material for future AI
            applications.
            When data is collected, it is usually
            unstructured. Highly skilled data engineers
            will pre-process the data into a usable format,
            but ‘data labelers’ are needed to label and
            classify data so that it is usable. Labelled
            and annotated datasets are critical for the
            development and effectiveness of machine
            learning models. Workers involved in data
            enrichment carry out an array of tasks that
            include marking radiology scans to aid in
            creating AI systems capable of detecting
            cancer; categorizing toxic and unsuitable
            online content to improve content moderation
            algorithms or diminish the negativity in large
            language model responses; annotating
            video footage from driving sessions to train
            autonomous vehicles; editing large language
            model outputs to boost their functionality; and
            more.4
            Content moderation is the process of
            monitoring and filtering user-generated
            content on digital platforms, such as social
            media, forums, and websites, to ensure that
            it complies with the platform’s guidelines and
            policies. The goal of content moderation is
            to maintain a safe, respectful, and positive
            environment for all users by removing or flagging content that is inappropriate, offensive,
            harmful, or illegal. Content moderation can be
            performed manually by human moderators
            or automatically by using algorithms and
            machine learning tools. The types of content
            that may be subject to moderation can vary
            widely, including but not limited to hate
            speech, harassment, violence, nudity, and false
            information. Even with the use of algorithms
            and machine learning tools for content
            moderation, there is typically always a human
            involved in the process. These technologies
            can help automate and scale the moderation
            process, but they are not perfect and can
            sometimes make mistakes or miss nuances
            that a human moderator would be able to pick
            up on.
            In many cases, algorithms are used to flag
            or prioritize content for review by human
            moderators, who then make the final decision
            on whether the content should be removed or
            allowed to remain on the platform. Additionally,
            human moderators may also be involved in
            training and improving the algorithms, by
            providing feedback and labelling data that can
            be used to refine the system’s accuracy and
            effectiveness. Individuals tasked with content
            moderation duties in social media platforms
            often suffer from anxiety, depression, and posttraumatic stress disorder, a direct consequence
            of their continuous exposure to distressing
            materials such as murder, suicide, sexual
            assault, or child abuse videos.
            These examples demonstrate how humans are
            integral to the provision of services marketed
            or described as “artificial intelligence”. Indeed,
            Jeff Bezos described Amazon’s Mechanical
            Turk (AMT) platform as “artificial-artificialintelligence” as it was human intelligence
            that was providing the labour-intensive work
            needed for artificial intelligence systems to
            operate. As described on the AMT site, the
            platform provides “an on-demand, scalable,
            human workforce to complete jobs that
            humans can do better than computers, for
            example, recognizing objects in photos”.5
            Workers on the platform are accessible through
            an application programming interface (API),
            allowing programmers to call on workers with
            a few simple lines of code when working on an
            algorithm [11].
            In addition to platforms such as AMT and
            Appen, data labelers sometimes work through
            third-party companies hired by leading
            tech firms, in a subcontracting relationship.
            Although there are still many data labelers
            working in the United States in Europe, much of
            the work is being done in developing countries,
            given the low remuneration associated with the
            work. While precise figures on the numbers of
            persons working as data labelers do not exist,
            estimates range in the tens of millions, and
            demand for such work is likely to continue as
            AI data sets and training needs grow [12] The
            size of the market is estimated at between US
            $1 - $3 billion and likely to experience doubledigit growth over the next 5 years [13].
            Data labeling work does not require many
            qualifications, besides literacy, digital skills
            and access to computer (or mobile device) and
            internet. Studies of earnings of online platform
            workers in the US that perform this work,
            regularly report median earnings of roughly $2
            -$3 per hour, or well below the federal minimum
            wage of US $7.25 [14] [11]. Given the low level
            of pay, it is unsurprising that much of this work
            has moved to developing countries.
            But even from a developing country
            perspective, the earnings are low, particularly
            considering the skill level of the workforce,
            with many workers holding university and
            post-graduate degrees [11]. For the workers
            who work through digital labour platforms –
            and not business process outsourcing firms
            – there is the added concern that they are
            hired as independent contractors and are thus
            not covered by the protections and benefits
            emanating from the standard employment
            relationship. Moreover, analyses of earnings
            differentials between workers in India doing
            similar type of data annotation work revealed
            that platform workers earned two-thirds less
            than comparable employees, even before
            accounting for other benefits such as social
            insurance contributions But even among business process outsourcing
            firms, there are concerns about the working
            conditions of these workers, with one case
            study of a data annotation enterprise with
            offices in Kenya revealing low pay, insecure
            work and gender-based workplace violence [16]
            Furthermore, the study argued that the data
            annotation skills used in this line of work were
            not essentially transferable, questioning the
            career-enhancing impact of this line of work.
            Moving along the value chain, the subsequent
            parts – model design, model training and
            tuning, deployment and maintenance –
            represent a contrasting picture with the
            skills needs and working conditions of
            data annotation work. They also involve
            much greater requirements for physical
            infrastructure, particularly compute power
            necessary for model training and tuning. These
            stages require the skills of highly qualified
            computer scientists or graduates from
            other STEM6
            fields in addition to significant
            investments in research and development.
            Apart from China and India, emerging markets
            have garnered only a small portion of global
            investment in advanced technologies. From
            2008 to 2017, total venture capital flows to
            emerging markets, excluding China and India,
            amounted to just $24 billion, while the United
            States alone attracted $694 billion during the
            same period.7
            Annually, more than $300 billion is spent
            globally on technology to enhance computing
            capacity. However, these investments are
            unevenly spread, making the disparity in access
            to computing infrastructure both within and
            among various regions increasingly evident. A
            limited number of countries are leading the way
            in developing compute capacity, while many
            others are beginning from a low base. The US
            holds a significant advantage in data-centre
            construction, far surpassing investments made
            by any other nation. Although China, Singapore,
            the Netherlands, and a few others have
            developed substantial capacity, most countries
            have fewer than 20 top-tier data centres.
            The disparity in data centre construction is
            unambiguous, with the US having built 19
            times more leading cloud and co-location data
            centres than India, which has the most data
            centres among emerging-market economies.8
            The AI divide is stark – and it is precisely
            at this stage that policy attention is needed
            to support investments both in physical
            infrastructure (computing power or “compute”)
            and skills. And such investments are expensive,
            putting developing countries and their homegrown start-ups at a severe disadvantage.
            For example, OpenAI spent approximately
            $78 million of compute to train GPT-4, while
            Google’s Gemini Ultra’s compute costs were
            estimated at $191 million [17].
            Moreover, there are knock-on effects from
            pre-existing market positions. Leadership in
            the app market is important as apps generate
            additional user data that is then used to expand
            the database on which machine learning
            algorithms train and improve. Asia, Europe and
            North America have almost equal shares of
            the mobile app developer market, with South
            America and Africa accounting for just 7
            percent in total [18].
            Investments in compute must go together
            with investments in skills, otherwise, there
            will be an exacerbation of the brain drain, with
            either physical or virtual movement of skilled
            tech professionals. Data from the Oxford
            Internet Institute on professions offered
            through freelancing platforms reveals that
            the top countries in terms of numbers of
            workers offering software development and
            IT services are India, Bangladesh, Pakistan,
            Ukraine, the Russian Federation, United States
            and Serbia [19]. Most of these services are
            being offered to firms located in the United
            States and Europe. As such, without national
            tech or AI industries, workers with requisite
            skills in developing countries, will just offer
            their services through freelance platforms
            to AI builders in other countries in what can be characterized as a “virtual brain drain”. In
            other words, they may not migrate physically,
            but their skills will benefit the development of
            technology outside their home border.
            <div class="title">
              Adapting skills for the AI
              landscape
              <div class="contenu">
                In addition to capital investments in
                compute, there is also a clear need for skills
                enhancements in developing countries to
                successfully benefit from AI. Such skills are
                essential not just for developing national AI
                systems, but also for understanding how
                to properly use, including developing and
                instituting safeguards, such systems in
                developing countries.
                This is also true with respect to how AI is
                applied in the workplace. Enterprises that
                purchase “off-the-shelf” AI need to be aware
                of the implications of such technology in
                terms of cyber security, data privacy and
                possible discriminatory effects, particularly
                in recruitment software [20]. Skills in AI can
                also improve the process of integrating the
                technology in the workplace, if managers
                and workers are more informed about how
                the systems work, the collection and use of
                data, the scope for worker autonomy and
                feedback, as well as provisions for redress.
                Such awareness comes with skills training, but
                it also comes by building a workplace culture
                and workplace institutions that promote social
                dialogue and cooperation among employers,
                workers and the collective organizations that
                represent them.
                To effectively evaluate AI’s impact on the
                workforce, it is important to develop a
                worker-centric approach. This approach not
                only addresses the technical aspects of AI
                integration but also considers its broader social
                impact. A worker-centric framework should
                closely examine the specific tasks and skills
                affected by AI, looking at both the nature and
                extent of these impacts. Through this analysis,
                we can comprehensively understand how
                AI transforms various job roles and identify
                the sectors most susceptible to automation
                and technological disruption. This nuanced
                understanding enables the development of
                targeted strategies to mitigate adverse effects
                and optimize positive outcomes.
                Additionally, a well-structured skills and
                lifelong learning framework is crucial for
                developing tailored and targeted capacity and
                skills programs. By identifying the skills that
                require improvement or updating, stakeholders
                are better positioned to create educational
                and training initiatives that are both efficient
                and effective. Such an approach allows for
                proactive workforce adaptation, ensuring that
                workers have the skills to succeed in a future
                powered by AI [21].
                We ground our analysis in the wellestablished conceptual approach that
                measures the susceptibility of human tasks
                to automation and the potential for humanAI complementarity, in line with the analysis
                presented in section 2.9 Building on existing
                analysis of the automation vs augmentation
                issue we present a framework consisting of
                four distinct quadrants, each representing a
                different combination of these key dimensions:
                exposure and complementarity.10
                The resulting quadrants delineate the potential
                impact of AI across various occupations,
                ranging from mere assistance of the AI to full
                automation, thus providing a clear metric for
                guiding strategic workforce planning.
                As illustrated in Figure 7, a detailed exploration
                of each quadrant reveals the nuanced ways in
                which AI interacts with different aspects of the
                workforce.
              </div>
              <div class="row mt-4">
                <!-- <img src="../assets/images/value-chain-ai.PNG" pAnimateOnScroll enterClass="flipup" leaveClass="fadeout" class="img-fluid animation-duration-1000 animation-ease-in-out" alt=""> -->

              </div>
            </div>
          </div>
          <div class="filler">
          </div>
        </div>

      </div>
    </article>


    <article>
      <div class="fixed"></div>
      <div class="static">
        <div class="content">
          <div class="introduction">
            <div class="row animation-duration-3000 animation-ease-in-out" pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright">
              <div class="col-lg-3">
                <h5>
                  1.Assist
                </h5>
                <p>
                  Situated at lower exposure and
                  moderate complementarity, this quadrant
                  highlights tasks where AI can support
                  human activities without fully replacing
                  them. Tasks in this zone, such as decision making, hospitality services, and geriatric
                  care, benefit from AI tools that assist
                  humans in executing tasks more efficiently
                  but cannot replace core activities of the
                  occupations. AI systems provide valuable
                  data insights or automate routine aspects,
                  allowing professionals to focus on more
                  complex or nuanced aspects of their roles.
                </p>
              </div>
              <div class="col-lg-3">
                <h5>
                  1.Transform and Optimize
                </h5>
                <p >
                  This quadrant
                  represents a high degree of both AI
                  exposure and complementarity. Here, AI
                  can fundamentally transform occupations,
                  making significant changes to how tasks
                  are performed. In professions such as
                  psychotherapy, exception handling11,
                  or maintenance, AI can do more than
                  just assist, it can redefine processes to
                  potentially achieve efficiency gains. AI in
                  this context can lead to new methods and
                  approaches that optimize the outcomes of
                  professional activities.
                </p>
              </div>


              <div class="col-lg-3">
                <h5>
                  1.Augment and Hybridize
                </h5>
                <p>
                  Occupations in
                  this quadrant may experience moderate
                  to high complementarity with significant
                  exposure to AI. Professions such as R&D,
                  radiology, and advanced data analysis
                  benefit from AI that augments human skills.
                  Here, AI and human intelligence collaborate
                  closely, with AI enhancing human
                  capabilities and enabling new possibilities
                  for innovation and improved performance
                  that go beyond traditional methods.
                </p>
              </div>
              <div class="col-lg-3">
                <h5>
                  1. Replace and Automate
                </h5>
                <p>
                  High exposure
                  to AI with low complementarity, this
                  quadrant includes tasks suitable for
                  complete automation, given their routine
                  and predictable nature. Typical examples
                  include data entry, call centre operations,
                  and electronics assembly, where AI has
                  the potential to fully take over tasks
                  traditionally performed by humans.
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <!-- <img src="../assets/images/ai-impact.png" id="img" class="img-fluid" alt=""> -->
              </div>
              <div class="col-lg-6">
                <!-- <img src="../assets/images/impact-quadrant-and-corresponding-skilling.png" id="img" height="250px"
                  class="img-fluid" alt=""> -->
              </div>

            </div>

            <div class="row mt-4">
              <div  class="introduction animation-duration-3000 animation-ease-in-out" pAnimateOnScroll  enterClass="zoomin" leaveClass="fadeout">
                This methodological framework, as illustrated
                in the figure 8, enables us to develop a
                nuanced understanding of the varying capacity
                development needs across different impact
                categories. It assumes, of course, that there is
                seamless integration of AI and thus abstracts
                from the reality of infrastructure deficits and
                high cost of technology that plague developing
                countries. Nevertheless, by mapping out the
                specific requirements for reskilling, upskilling,
                and cross-skilling according to AI’s potential
                impact on occupations, this approach can
                support the creation of customized and
                evidence-based AI capacity development
                programs and thus better prepare workers and
                enterprises for the possible transformations
                ahead.
                In the quadrant labeled “Replace and
                Automate,” there is a significant emphasis
                on reskilling, as jobs in this category are
                highly susceptible to being replaced by AI,
                necessitating new skillsets for affected
                workers, in addition to social protection
                measures that can support workers during
                the transition process. Conversely, in the
                “Augment and Hybridize” quadrant, there
                is a focus on cross-skilling, where workers
                expand their capabilities to work alongside AI,
                enhancing roles rather than losing them. This
                tailored approach not only facilitates strategic
                educational and training interventions but could
                also help prepare governments, enterprises and
                workers to mitigate risks associated with job
                displacement.
                However, such a scenario presumes that there
                will be AI investments, which may not be the
                case in some developing countries either
                because of a lack of infrastructure needed to
                power such AI systems, because the cost of
                the technology is too high, particularly relative
                to the cost of labour, or because the digital
                skills to integrate such technology in the
                workplace are lacking.
                As mentioned previously, it is critical to know
                how to integrate technology beyond mere “offthe-shelf” purchase of technology, to assess
                and address possible risks to security, data
                privacy, or non-discrimination. It also makes
                evident the consequences of not investing in
                such skills development, and the potential for
                the digital divide to further widen productivity
                gaps.
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="fixed" appVisibility (visible)="onChartVisible()">
        <!-- <img
          src="./../assets/images/amalkt_A_dynamic_web_of_dark_green_points_interconnected_by_lum_9c8ad4f7-8a93-419c-9802-7db729374b57.png"
          alt=""> -->
        <div class="content">
          <h2>
            <!-- Moving forward -->
          </h2>
          <!-- <app-revenue-chart (visible)="logVisibility('Child 2')"></app-revenue-chart> -->
        </div>
      </div>

      <!-- <div class="fixed">
        <img
          src="./../assets/images/amalkt_A_dynamic_web_of_dark_green_points_interconnected_by_lum_9c8ad4f7-8a93-419c-9802-7db729374b57.png"
          alt="">
        <div class="content">
          <app-animations-list></app-animations-list>
        </div>
      </div> -->
      <!-- <div class="static" appVisibility (visible)="onChartVisible()">
        <div class="content">
          <app-animations-list></app-animations-list>
        </div>
      </div> -->
      <!-- <div class="fixed" appInViewport [appInViewport]="shouldLoadChildComponent" (appInViewportChange)="shouldLoadChildComponent = $event">
        <app-animations-list *ngIf="shouldLoadChildComponent"></app-animations-list>
      </div> -->
      <!-- <div class="fixed" appInViewport  (appInViewportChange)="shouldLoadChildComponent = $event">
        <app-animations-list></app-animations-list>
      </div> -->


    </article>
    <article>
      <div class="fixed">
        <div id="app-animations-list">
          <!-- <app-animations-list></app-animations-list> -->
        </div>
        <div>
        </div>
      </div>
      <div class="static">
        <div class="content">
          <app-animations-list></app-animations-list>
        </div>
      </div>
    </article>
  </section>
</main>